@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

body {
  background-color:#1f1e1e ;
  height: 1900px;
}

.main-header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #161616eb;
    z-index: 999;
}

.navbar {
    padding:10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}
.nav-items {
    display: flex;
    list-style: none;
}
.nav-items li{
    margin: 0 100px;
}

.navbar img{
    width: 80px;
    transition: 0.8s;
}

.navbar img:hover {
    filter: drop-shadow(0px 0px 16px #535353);
    transform: scale(1.1);
}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 14px;
    border-radius: 80px;
    background: #e8e8e8;
    border: none;
    box-shadow: 6px 6px 20px #c5c5c524,
              -6px -6px 20px #ffffff1f;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .one:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .one:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
.two:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .two:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .mariano {
    color: white;
    font-size: 16px;
  }
.focus {
    color: #ffffff;
    border: 1px solid #009087;
    box-shadow: inset 4px 4px 12px #009087,
 
  }
  
  .focus:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .focus:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  main {
    display: flex;
    justify-content: center;
    position: relative;
    margin:50px 0;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
  }

  input {
    color: white;
    font-size: 16px;
    padding:0 15px;

  }

  .formulario-art {
    position: absolute;
    width: 1078px;
    height: 1613px;
    background: #F1F1F1;
    border-radius: 16px;
    margin-bottom: 100px;
  }
.art{
  position: absolute;
  width: 890px;
  height: 50px;
  left: 104px;
  top: 99px;

  background: #161616;
/* Divider/Light/1px - 60% */

  border: 1px solid rgba(228, 228, 228, 0.6);
  border-radius: 5px;
}

.art-label {
  position: absolute;
  width: 27px;
  height: 20px;
  left: 108px;
  top: 71px;

  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  color: #000000;
}
.siniestro-label {
position: absolute;
width: 140px;
height: 20px;
left: 108px;
top: 166px;

font-family: 'ABeeZee';
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 133% */

display: flex;
align-items: center;

color: #000000;
}
.siniestro {
  box-sizing: border-box;

position: absolute;
width: 886px;
height: 50px;
left: 108px;
top: 194px;

background: #161616;
/* Divider/Light/1px - 60% */

border: 1px solid rgba(228, 228, 228, 0.6);
border-radius: 5px;
}
.radius {
    position: absolute;
width:300px;
height: 20px;
left: 110px;
top: 303px;

font-family: 'ABeeZee';

font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 133% */

display: flex;
align-items: center;

color: #000000;
}
.cont-contin{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;

position: absolute;
width: 1078px;
height: 24px;
left: 6px;
top: 348px;
}

input[type="radio"]{
    height: 18px;
    width: 18px;
}

.cont-contin label{
    font-family: 'ABeeZee';
font-style: italic;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

display: flex;
align-items: center;

color: #000000;

}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    background-color: limegreen;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }


   
.datos-trabajador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    position: absolute;
    width: 886px;
    height: 125px;
    left: 108px;
    top: 397px;
    margin-top: 24px;
    margin-bottom: 33px;
}


.titulo-datos-trabajador{
    width: 228px;
    height: 22px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
.container-datos-trabajador{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 86px;

width: 886px;
height: 85px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.container-nombre{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 400px;
    height: 85px;
    justify-content: space-between;
}
.container-cuil{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 400px;
    height: 85px;
    justify-content: space-between;
}

.nombre-label{
    width: 180px;
    height: 20px;
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    color: #000000;
}
.name-input{
    box-sizing: border-box;
    background: #000000;
    /* Divider/Light/1px - 60% */
    height: 50px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    border-radius: 5px;
}
.cuil-label{
    width: 132px;
    height: 20px;
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    color: #000000;
}
.cuil-input{
    box-sizing: border-box;
    background: #000000;
    /* Divider/Light/1px - 60% */
    height: 50px;
    border: 1px solid rgba(228, 228, 228, 0.6);
    border-radius: 5px;
}
.datos-empleador {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 18px;
position: absolute;
width: 886px;
height: 125px;
left: 108px;
top: 585px;
}